@import Models.AreaModel
@import Models.User
@import Models.AreaModelUser
@import Models.ModuleList
@(user: User, areaModels: List[AreaModel], areaModelUsers: List[AreaModelUser], moduleList: ModuleList, desciption: String)

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default col-xs-12">
            <div class="panel-body" >
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>User</label>
                            <label>@user.email</label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Modulo</label>
                            <div>

                            @for(count <- 0 to moduleList.modelList.size() - 1) {
                                @if(moduleList.modelAccess.get(count) == true) {
                                    <imput type="hidden" name="userId" value="@user.id"></imput>
                                    <input type="checkbox" name="description-@moduleList.modelList.get(count).id" checked > @moduleList.modelList.get(count).description

                                } else {
                                    <imput type="hidden"name="userId" value="@user.id"></imput>
                                    <input type="checkbox" name="description-@moduleList.modelList.get(count).id" > @moduleList.modelList.get(count).description

                                    }
                            }

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"> @desciption </button>
                </div>
            </div>
        </div>
    </div>
</div>