@import Models.AreaModel
@(areaModel: AreaModel, description: String)

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default col-xs-12">
            <div class="panel-body" >
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Nome do Modulo</label>
                            <input type="text" name="description" class="form-control" placeholder="Nome do Modelo" value="@areaModel.description">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"> @description </button>
                </div>
            </div>
        </div>
    </div>
</div>