@import Models.User
@import Models.Role

@(users: List[User], roles: List[Role])
<table>
    <tr >
        <td style="padding-right: 3px">Nome </td>
        <td style="padding-right: 3px">Ultimo Nome </td>
        <td style="padding-right: 3px">Email </td>
        <td style="padding-right: 3px">Contacto </td>
        <td style="padding-right: 3px"> Role</td>
    </tr>


    @for(user <- users) {

        <tr>
            <td>@user.name </td>
            <td>@user.lastName </td>
            <td>@user.email </td>
            <td>@user.phoneNumber </td>
            <td>
                <form action="@routes.RoleController.setRole(user.id)" method="post">
                    @if(session().get("idRole") != null && (Integer.parseInt(session().get("idRole")) == Role.SUPERADMIN)||Integer.parseInt(session().get("idRole")) == Role.ADMIN) {
                        <select name="idRole">
                        @for(role <- roles) {
                            @if(user.getIdRole == role.id) {
                                <option value="@role.id" selected>@role.rolePrivileges</option>
                            } else {
                                <option value="@role.id">@role.rolePrivileges</option>
                            }
                        }
                        </select>
                    }

                    <input type="submit" class="btn btn-primary" value="save" />
                </form>
            </td>
        </tr>
    }
</table>