@import Models.User
@import Models.Role
@import Models.Country

@(user: User)(role: Role)(users: List[User])(countries: List[Country])(roles: List[Role])


@main {
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <panel>
                    <!-- primeira parte dos modulos. 3 Modulos -->
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="col-xs-4 col-lg-4">
                            @*Ferias*@
                                <img width="300px" height="300px" src="@routes.Assets.versioned("images/ferias.png")"/>
                        </div>
                        <div class="col-xs-4 col-lg-4">
                            @*projectos*@
                            <img width="300px" height="300px" src="@routes.Assets.versioned("images/projectos.png")"/>

                        </div>
                        <div class="col-xs-4 col-lg-4">
                            Qualquer coisa 2
                        </div>
                    </div>
                </div>
                    <!-- Segunda parte dos modulos. 3 Modulos -->
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <div class="col-xs-4 col-lg-4">

                        </div>
                        <div class="col-xs-4 col-lg-4">

                        </div>
                        <div class="col-xs-4 col-lg-4">
                        @if((session().get("email") == null)) {

                        } else {
                            Gestão das ferias ( Admins)
                        }
                        </div>
                    </div>
                </div>
            </panel>
        </div>
    </div>


}



