@import Models.User
@import Models.Role

@(user: User)(role: Role)(users: List[User])

@main(user) {

    <div>

        <span> <p>@user.name </p></span>
        <span> <p>@user.lastName </p></span>
        <span> <p>@user.age </p></span>
        <span> <p>@user.email </p></span>
        <span><p>@role.rolePrivileges</p></span>
        @if(session().get("idRole") != null && Integer.parseInt(session().get("idRole")) == Role.SUPERADMIN) {

            @views.html.users.allUsers(users)
        }

        @views.html.users._formUpdateUser(users)
    </div>
}

