@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@

@import Models.User
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <script src="@routes.Assets.versioned("javascripts/jquery-2.2.2.js")" type="text/javascript"></script>

        @* Bootstrap *@
        <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/main.css")">

        @import Http.Context;


    </head>

    <body>
        <div class="container" >

            <div style="margin-bottom : 50px ;">

                <div class="navbar-header">

                    <a class="navbar-brand" href="@routes.HomeController.index()">WithUs</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-right">



                    <span>Bem vindo @Http.Context.current().args.get("username") </span>

                    <a href="@routes.LoginController.logout()" class="btn btn-primary navbar-btn" >Logout</a>
                </div><!--/.navbar-collapse -->

            </div>
            @content



        </div>
        <footer style="position: fixed " class="bottom">
            <div >
                <p>&copy; 2016 WithUs </p>
            </div>
        </footer>

        <script type='text/javascript' src='@routes.Assets.versioned("/stylesheets/bootstrap/js/bootstrap.min.js")'></script>

    </body>
</html>
