
@import Models.User
@(user: User)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>WithUs</title>
        <script src="@routes.Assets.versioned("javascripts/jquery-2.2.2.js")" type="text/javascript"></script>

        @* Bootstrap *@
        <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/main.css")">
    </head>

    <body>
        <div class="col-lg-12 col-md-12">
        <div class="header">
        <div class="nav">
            <div>
            <a class="navbar-brand" href="@routes.HomeController.index()">Welcome to WithUs</a>
            </div>
            <div  class="right">
                @*<span>Bem vindo @Http.Context.current().args.get("username") </span>*@
                <span>Bem vindo</span> @user.name <span>(@user.email)</span>
                    <a href="@routes.HomeController.logout()" class="btn btn-primary navbar-btn" >Logout</a>

            </div>
            </div>
            </div>

        <div id="content">

        <div class="container col-md-12" >

            @content

        </div>
        </div>
        <div class="footer">
                <p>&copy; 2016 WithUs </p>
        </div>
        <script type='text/javascript' src='@routes.Assets.versioned("/stylesheets/bootstrap/js/bootstrap.min.js")'></script>
</div>
    </body>
</html>
